@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    cursor: pointer;
    transition: 0.4s ease;
}

#playAgain {
    margin-top: 10px;
    text-decoration: none;
}

@media (max-width: 500px) {
    .grid {
        width: 300px;
    }

    body {
        height: 80vh;
    }

    h1 {
        font-size: 24px;
    }

    #playAgain {
        margin-top: 110px;
    }
}